<template>
  <v-container fluid text-xs-center>
    <h1>About Xarennitravel.com™</h1>
    <!-- <div
      style="width: 6%; height: 3px;margin: 10px auto;background:#FFD600;border-bottom: 1px solid #FFD600;"
    ></div>-->
    <!-- <v-layout row wrap> -->
    <!-- <v-flex light xs12 sm4> -->
    <!-- <v-layout row wrap> -->
    <!-- <v-flex v-for="(section, index) in sections" :key="index" class="ma-0 pa-0" xs12> -->
    <v-card-text v-for="(section, index) in sections" :key="index" class="text-xs-center">
      <p>{{section.title}}</p>
    </v-card-text>
    <!-- </v-flex> -->
    <!-- </v-layout> -->
    <!-- </v-flex> -->
    <!-- </v-layout> -->

    <v-flex xs12 md10 offset-sm1 pa-2>
      <v-responsive color="#FFF5F1">
        <v-container fill-height>
          <v-layout align-center>
            <v-flex text-xs-center>
              <v-icon color="sun">stars</v-icon>
              <h3 class="display-2 secondary--text">Xarennitravel!</h3>

              <p
                class="headline font-weight-medium secondary--text mb-0"
              >We love to make our guests happy, passion for guest service made within our souls.</p>
              <div class="text-xs-center">
                <br />
                <v-btn outline color="secondary">Contact us now!</v-btn>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-responsive>
    </v-flex>

    <v-layout v-for="(section, index) in remainingSections" :key="index" row wrap>
      <v-flex light xs12 md4>
        <v-card-text>
          <h1 :id="section.selector" class="headline mb-0">{{lorem}}</h1>
        </v-card-text>
      </v-flex>
      <v-flex xs12 md8>
        <v-flex dark>
          <v-card-text v-for="(paragraph, pIndex) in section.paragraphs" :key="pIndex">
            <h3 v-if="paragraph.title" class="font-weight-bold subheading">{{ paragraph.title }}</h3>
            <p class="subheading">{{paragraph.content}}</p>
          </v-card-text>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: "About",
  components: {},
  data: () => ({
    sections: [
      {
        title:
          "xarennitravel.com is a travel agency dedicated for travelers worldwide, based in the Dominican Republic we offer the best Excursions deals, Airport Transfers, Party, Fun and much more."
      },
      {
        title:
          "100% best excursions deals and discounts, we are the first travel agency in the world in which our Guests can call us live by Skype or Facetime and make excursions deals."
      },
      {
        title:
          "We know the meaning and values of family, memories, experience, vacation, getaway and holidays and we also know and value how hard people work to save and go on vacation. "
      },
      {
        title:
          "Please don’t hesitate to get in touch with us we work 24/7  all year round."
      }
    ],

    lorem: "lOREN IMSUP KL ARDEN",
    markers: [
      {
        title: "NAGUA",
        position: {
          lat: 19.3782268,
          lng: -69.8526621
        },
        description: "Sucursal Nagua"
      },
      {
        title: "EL FACTOR",
        position: {
          lat: 19.3158207,
          lng: -69.8949767
        },
        description: "Sucursal El Factor"
      },
      {
        title: "MATANCITAS",
        position: {
          lat: 19.3540834,
          lng: -69.8345005
        },
        description: "Sucursal Matancitas"
      }
    ]
  }),
  created() {},
  computed: {}
};
</script>

<style>
.rounded-card {
  border-radius: 6px;
}
</style>