<template>
  <v-container fluid fill-height>
    <v-layout row wrap>
      <v-flex xs12 sm3>
        <v-card class="ma-2">
          <v-card-text>
            <v-list dense subheader>
              <v-subheader>My Excursions</v-subheader>
              <v-list-tile to="/account" exact avatar>
                <v-list-tile-avatar>
                  <v-icon>history</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>Recent purchased</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
            <v-divider></v-divider>
            <v-list dense subheader>
              <v-subheader>Settings</v-subheader>
              <v-list-tile @click="signOut" avatar>
                <v-list-tile-avatar>
                  <v-icon>directions_run</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>Sign out</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 sm9>
        <v-card class="ma-2">
          <v-data-table
            :headers="table.headers"
            :items="reservations"
            :search="table.search"
            :loading="table.loading"
            :pagination.sync="table.pagination"
            :custom-filter="customFilter"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.activity.title }}</td>
              <td>{{ props.item.activity.type }}</td>
              <td>${{ props.item.activity.price | currency }}</td>
              <td>{{ props.item.created | date }}</td>
            </template>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { auth, reservations } from "../../firebase.config";

import { formatCurrency, formatDate } from "../../filters";

export default {
  name: "Account",
  filters: {
    currency(v) {
      return formatCurrency(v);
    },
    date(v) {
      return formatDate(v);
    }
  },
  data: () => ({
    table: {
      search: "",
      loading: false,
      pagination: {
        sortBy: "created",
        descending: true
      },
      headers: [
        { text: "Activity", value: "activity.title" },
        { text: "Type", value: "activity.type" },
        { text: "Price", value: "activity.price" },
        { text: "Reserved date", value: "created" }
      ]
    },
    reservations: []
  }),
  created() {
    this.loadReservations();
  },
  methods: {
    loadReservations() {
      if (auth.currentUser === null) return;

      const userId = auth.currentUser.uid;

      this.table.loading = true;

      reservations
        .where("user.id", "==", userId)
        .get()
        .then(querySnapshot => {
          this.table.loading = false;

          const documents = querySnapshot.docs;

          let reservations = this.$lodash.map(documents, doc => {
            let data = doc.data();
            let created = data.created ? data.created.toDate() : 0;

            delete data["created"];

            return { ...doc.data(), id: doc.id, created };
          });

          this.reservations = reservations;
        })
        .catch(error => {
          this.table.loading = false;

          this.$emit("show-snackbar", error.message);
        });
    },
    signOut() {
      auth.signOut().then(_ => {
        this.$router.push("/");
      });
    },
    customFilter(items, search, filter) {
      search = search.toString().toLowerCase();
      return items.filter(i =>
        Object.keys(i).some(j => {
          if (j === "created")
            return filter(
              this.$moment(i[j]).format("DD/MM/YYYY hh:mm a"),
              search
            );
          return filter(i[j], search);
        })
      );
    }
  }
};
</script>

