<template>
  <v-container fluid>
    <v-container grid-list-md text-xs-center>
      <v-card-text class="text-xs-left px-0">
        <h3 class="headline font-weight-medium black--text">Secure purchase</h3>
        <span>Purchase ends securely; it will only take a few minutes</span>
      </v-card-text>
      <v-layout row wrap>
        <v-flex xs12 md9>
          <v-card>
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs12 md5>
                  <v-carousel v-if="entity" height="250px" hide-delimiters>
                    <v-carousel-item
                      width="600px"
                      v-for="(picture,index) in entity.pictures"
                      :key="index"
                      :src="picture"
                    ></v-carousel-item>
                  </v-carousel>
                </v-flex>
                <v-flex xs12 md7>
                  <v-card-text class="text-xs-left">
                    <span
                      v-if="entity"
                      class="headline font-weight-medium black--text"
                    >{{ entity.title }}</span>
                    <br />
                    <span v-if="entity" class="font-weight-medium black--text">{{entity.date}}</span>
                    <br />
                    <p v-if="entity" class="my-3">{{ entity.overview}}</p>
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-text class="text-xs-left">
              <h3 class="headline font-weight-medium black--text">Traveler Information</h3>
              <span>Information we need to confirm this tour or activity</span>
            </v-card-text>
            <v-card-text>
              <v-form ref="form" v-model="form.valid" lazy-validation>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-text-field
                      v-model="user.name"
                      :rules="[form.required]"
                      browser-autocomplete="false"
                      prepend-inner-icon="person"
                      label="Name"
                      type="text"
                      disabled
                      required
                      outline
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field
                      v-model="user.lastname"
                      :rules="[form.required]"
                      browser-autocomplete="false"
                      prepend-inner-icon="person"
                      label="Lastname"
                      type="text"
                      disabled
                      required
                      outline
                    ></v-text-field>
                  </v-flex>
                  <v-flex :class="type==='EXCURSION' ? 'xs8': 'xs12'">
                    <v-text-field
                      v-model.number="reservation.peopleAmount"
                      browser-autocomplete="false"
                      prepend-inner-icon="people"
                      label="Amount of people"
                      type="number"
                      outline
                    ></v-text-field>
                  </v-flex>
                  <v-flex v-if="type === 'EXCURSION'" xs4>
                    <v-checkbox v-model="reservation.withKids">
                      <template v-slot:label>
                        <div>Will you be traveling with children?</div>
                      </template>
                    </v-checkbox>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field
                      v-if="reservation.withKids"
                      v-model.number="reservation.childAmount"
                      browser-autocomplete="false"
                      prepend-inner-icon="child_care"
                      label="Amount of childs"
                      type="number"
                      outline
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field
                      v-model="fireUser.email"
                      :rules="[form.required]"
                      browser-autocomplete="false"
                      prepend-inner-icon="person"
                      label="E-mail"
                      type="text"
                      disabled
                      required
                      outline
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field
                      v-model="user.phone"
                      :rules="[form.required]"
                      browser-autocomplete="false"
                      prepend-inner-icon="phone"
                      label="Phone"
                      :mask="'###-###-####'"
                      required
                      outline
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 md3>
          <v-card>
            <v-card-text class="text-xs-left">
              <h3 class="headline font-weight-medium black--text">Review order data</h3>
              <br />
              <v-layout row wrap>
                <v-flex xs7>
                  <span v-if="entity" class="font-weight-medium black--text">{{entity.title}}</span>
                  <br />
                  <span v-if="entity">{{entity.overview}}</span>
                </v-flex>
                <v-flex xs5 class="text-xs-right">
                  <span
                    v-if="entity"
                    class="font-weight-medium black--text"
                  >${{entity.price | currency}}</span>
                  <br />
                  <small class="caption">per {{ type === 'EXCURSION' ? 'adult': 'people'}}</small>
                  <br />
                  <br />
                  <span
                    v-if="reservation.childAmount"
                    class="font-weight-medium black--text"
                  >${{entity.childPrice | currency}}</span>
                  <br />
                  <small v-if="reservation.childAmount" class="caption">per child</small>
                </v-flex>
              </v-layout>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-text>
              <v-layout v-if="entity" row wrap>
                <v-flex class="text-xs-left" xs6>
                  <small>Subtotal:</small>
                </v-flex>
                <v-flex class="text-xs-right" xs6>
                  <small>${{amount | currency}}</small>
                </v-flex>
                <v-flex class="text-xs-left" xs6>
                  <span class="font-weight-medium">Total:</span>
                </v-flex>
                <v-flex class="text-xs-right" xs6>
                  <span class="font-weight-medium">${{amount | currency}}</span>
                </v-flex>
                <v-flex xs12>
                  <!-- <v-btn :disabled="!form.valid" @click="submit()" color="amber">Reserve now</v-btn> -->
                  <PayPal
                    :amount="String(amount)"
                    currency="USD"
                    :client="paypal.credentials"
                    :experience="paypal.experienceOptions"
                    v-on:payment-completed="onPaymentCompleted"
                    env="sandbox"
                  ></PayPal>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
     <v-dialog v-model="dialog" max-width="300px" persistent>
        <v-card>
          <v-toolbar color="transparent" card>
            <v-toolbar-title class="green--text">Checkout complete</v-toolbar-title>
          </v-toolbar>
          <v-card-text class="text-xs-center">
            <p class="subheading">
              Thanks for your order!
              <br />Enjoy the excursion
            </p>
          </v-card-text>
           <v-card-text>We've been sent an email with your excursion details, remember to cofirm your pickup! time 24 hours before the trip. .</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn to="/" color="primary" flat>Accept</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </v-container>
</template>
<script>
import PayPal from "vue-paypal-checkout";

import * as emailjs from "emailjs-com";

import {
  auth,
  excursions,
  parties,
  reservations,
  users
} from "../../firebase.config";

import { formatCurrency, formatDate } from "../../filters";

export default {
  name: "Checkout",
  props: {
    id: String
  },
  components: {
    PayPal
  },
  filters: {
    date(value) {
      return formatDate(value, "dddd DD, gggg - LT");
    },
    currency(value) {
      return formatCurrency(value);
    }
  },
  data: () => ({
    type: null,
    entity: null,
    dialog: false,
    paypal: {
      credentials: {
        sandbox:
          "AWhQaQVqHGd8Xs0a-Qufa3mxWRClLZqHJR4HOvfFQdIX3SPHu9QD1lq_V-ZP7efTdmOi9EFjVaVo-Fgi",
        production:
          "ASUE8rJrMRdKdTHKfSTtnrZ2q6xqDteNz7undhSnIseBnuZjfU3ubHkyCq06ybN9L0oBX7tFUwiSgW-t"
      },
      experienceOptions: {
        input_fields: {
          no_shipping: 1
        }
      }
    },
    form: {
      valid: false,
      required: v => !!v || "This field is required"
    },
    user: {},
    reservation: {
      peopleAmount: 1
    }
  }),
  created() {
    emailjs.init("user_izmbzdns0vuzMVfcvLLZk");

    this.type = this.$route.query.type;

    if (this.type == "EXCURSION") this.loadExcursion();
    else this.loadParty();

    this.loadUser();
  },
  computed: {
    fireUser() {
      return auth.currentUser;
    },
    amount() {
      if (this.type !== "EXCURSION")
        return this.entity.price * this.reservation.peopleAmount;

      let total = 0;

      let totalAdults = 0;
      let totalChilds = 0;

      if (this.reservation.peopleAmount)
        totalAdults += this.reservation.peopleAmount;
      if (this.reservation.childAmount)
        totalChilds += this.reservation.childAmount;

      let pricePerAdults = this.entity.price * totalAdults;
      let pricePerChilds = this.entity.childPrice * totalChilds;

      total = pricePerAdults + pricePerChilds;

      return total;
    }
  },
  methods: {
    loadParty() {
      parties
        .doc(this.id)
        .get()
        .then(documentSnapshot => {
          if (documentSnapshot.exists) this.entity = documentSnapshot.data();
        });
    },
    loadExcursion() {
      excursions
        .doc(this.id)
        .get()
        .then(documentSnapshot => {
          if (documentSnapshot.exists) this.entity = documentSnapshot.data();
        });
    },
    loadUser() {
      const user = this.fireUser;
      if (user) {
        users
          .doc(user.uid)
          .get()
          .then(documentSnapshot => {
            if (documentSnapshot.exists) this.user = documentSnapshot.data();
          });
      }
    },
    onPaymentCompleted(payload) {
      const reservation = {
        activity: {
          id: this.id,
          type: this.type,
          title: this.entity.title,
          price: this.entity.price
        },
        user: {
          id: this.fireUser.uid,
          name: this.user.name,
          lastname: this.user.lastname,
          email: this.fireUser.email
        },
        payment: {
          ...payload
        },
        created: new Date(),
        ...this.reservation
      };

      reservations
        .doc()
        .set(reservation)
        .then(_ => {
          emailjs
            .send("default_service", "template_k0Woi7ks_clone_clone", {
              customer_email: this.fireUser.email,
              customer_name: this.user.name,
              activity_name: this.entity.title,
              activity_type: this.type.toLowerCase(),
              transaction_id: payload.id,
              placed_date: this.$moment().format("MM/DD/YYYY hh:mm a"),
              total_amount: `$${payload.transactions[0].amount.total}`
            })
            .then(console.log)
            .catch(console.log);

          this.dialog = true;
        });
    }
  }
};
</script>