<template>
  <v-layout row wrap text-xs-center>
    <v-flex xs12>
      <v-card>
        <v-img
          class="white--text"
          height="300px"
          src="https://firebasestorage.googleapis.com/v0/b/xarenni-web.appspot.com/o/banner-contact.jpg?alt=media&token=05d25d7a-a06a-49a8-89dc-0062ec3d4db7"
        ></v-img>
      </v-card>
    </v-flex>
    <v-flex xs12 md6 offset-md3>
      <v-layout row wrap>
        <v-flex xs12 md6>
          <v-card-text>
            <v-icon color="secondary">call</v-icon>
            <h3 class="headline mb-0 secondary--text">Contact Us 24/7</h3>
            <p>USA +1 (973) 980-6135</p>
            <p>Dominican Republic +1 (829) 785-3039</p>
            <p>+1 (829) 203-3592</p>
            <p>Skype xarennitravel10@gmail.com</p>
          </v-card-text>
        </v-flex>
        <v-flex xs12 md6>
          <v-card-text>
            <v-icon color="secondary">message</v-icon>
            <h3 class="headline mb-0 secondary--text">Send us a message</h3>
            <p>If you are a traveler, use the form below to contact us.</p>
            <p>We'll be happy to help!</p>
          </v-card-text>
        </v-flex>
      </v-layout>
      <p>How can we help you?*</p>
      <v-flex xs12 d-flex>
        <v-select v-model="request.subject" label="--None--" :items="items" solo light></v-select>
      </v-flex>
    </v-flex>
    <v-flex xs12 md6 offset-md3>
      <v-card>
        <v-card-title class="text-sm-left" primary-title>
          <div>
            <h2>Please, fill in the form the information required!</h2>
          </div>
        </v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="form.valid" lazy-validation>
            <v-select
              v-model="request.excursion"
              label="Excursion"
              prepend-icon="bookmark"
              :items="excursions"
            ></v-select>
            <v-text-field
              v-model="request.customerName"
              browser-autocomplete="false"
              prepend-icon="person"
              label="Customer name"
              type="text"
              :rules="[form.rules.required]"
              required
            ></v-text-field>
            <v-text-field
              v-model="request.customerPhone"
              browser-autocomplete="false"
              prepend-icon="phone"
              label="Phone number"
              type="text"
              :mask="'phone'"
              :rules="[form.rules.required]"
              required
            ></v-text-field>
            <v-text-field
              v-model="request.customerEmail"
              browser-autocomplete="false"
              prepend-icon="mail"
              label="Email"
              type="text"
              :rules="[form.rules.required]"
              required
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-flex>
          <v-icon light="true" color="sun">error</v-icon>
        </v-flex>
        <p>Please, check all fields before send!</p>
        <v-btn @click="submit" color="sun" outline="true">SEND</v-btn>
      </v-card>
    </v-flex>
    <v-dialog v-model="dialog" max-width="300px" persistent>
      <v-card>
        <v-toolbar color="transparent" card>
          <v-toolbar-title class="green--text">Thanks</v-toolbar-title>
        </v-toolbar>
        <v-card-text class="text-xs-center">
          <p class="subheading">We will be contacting you as soon as possible</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="dialog = false" color="primary" flat>Accept</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
      
<script>
import { contact, excursions } from "../../firebase.config";

import * as emailjs from "emailjs-com";

export default {
  data: () => ({
    selectedSubject: true,
    dialog: false,
    form: {
      valid: false,
      rules: {
        required: v => !!v || "Field required"
      }
    },
    items: [
      "Ask for a booking",
      "Cancel Booking",
      "Confirm pickup time",
      "Request Group Pricing"
    ],
    excursions: [],
    request: {}
  }),
  created() {
    emailjs.init("user_izmbzdns0vuzMVfcvLLZk");

    this.loadExcusions();
  },
  methods: {
    loadExcusions() {
      excursions.get().then(querySnapshot => {
        const documents = querySnapshot.docs;

        let excursions = this.$lodash.map(documents, doc => {
          return doc.data().title;
        });

        this.excursions = excursions;
      });
    },
    submit() {
      if (this.$refs.form.validate()) {
        contact
          .doc()
          .set(this.request)
          .then(() => {
            this.dialog = true;

            emailjs
              .send("default_service", "template_k0Woi7ks_clone", {
                cc_to: "luimi2129@hotmail.com",
                subject: this.request.subject,
                excursion: this.request.excursion,
                customer_name: this.request.customerName,
                customer_phone: this.request.customerPhone,
                customer_email: this.request.customerEmail
              })
              .then(console.log)
              .catch(console.log);
          })
          .catch(console.log);
      }
    }
  }
};
</script>
        
      