<template>
  <v-layout row wrap>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-card>
        <v-card-text>
          <v-flex class="mx-4 my-3" xs12>
            <v-layout row wrap>
              <v-flex class="pa-0" xs12 md5>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-carousel v-if="excursion" height="300" hide-delimiters>
                      <v-carousel-item
                        v-for="(picture,index) in excursion.pictures"
                        :key="index"
                        :src="picture"
                      ></v-carousel-item>
                    </v-carousel>
                  </v-flex>
                  <v-flex class="pt-4" xs12>
                    <v-card-text class="mt-0 pt-0 grey--text text--darken-1">
                      <span class="headline font-weight-regular black--text">Additional expenses</span>
                      <br />
                      <ul v-if="excursion && excursion.expenses">
                        <li
                          v-for="(expense, index) in excursion.expenses"
                          :key="index"
                          class="my-2"
                        >{{expense}}</li>
                      </ul>
                    </v-card-text>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex class="text-xs-left" xs12 md7>
                <v-layout row wrap>
                  <v-flex xs10>
                    <v-card-text class="pb-0">
                      <span
                        v-if="excursion"
                        class="ml-1 headline font-weight-medium black--text"
                      >{{ excursion.title }}</span>
                      <br />
                      <span
                        v-if="excursion"
                        class="ml-1 font-weight-medium black--text"
                      >{{ excursion.date }}</span>
                      <br />
                      <span
                        v-if="excursion && excursion.zone"
                        class="ml-1 font-weight-medium grey--text"
                      >{{ excursion.zone }}</span>
                      <v-card-title class="mx-0 px-0">
                        <v-rating
                          v-if="excursion"
                          v-model="ratingex"
                          background-color="amber lighten-3"
                          color="amber"
                          readonly
                          dense
                        ></v-rating>
                        <span class="ml-1 caption grey--text text-darken-1"></span>
                      </v-card-title>
                    </v-card-text>
                  </v-flex>
                  <v-flex class="mt-3" xs2>
                    <v-btn icon>
                      <v-icon>share</v-icon>
                    </v-btn>
                  </v-flex>
                  <v-flex xs12 md7></v-flex>
                  <v-flex xs12 md5>
                    <v-card-text class="text-xs-right">
                      <p>
                        From &nbsp;&nbsp;
                        <strong
                          v-if="excursion"
                          class="display-1"
                        >${{excursion.price | currency}}</strong>
                        <small v-if="type === 'EXCURSION' && excursion.childPrice">
                          Children &nbsp;&nbsp;
                          <strong
                            v-if="excursion"
                            class="headline"
                          >${{excursion.childPrice | currency}}</strong>
                        </small>
                      </p>
                      <p>
                        <v-btn
                          color="amber"
                          @click.native="isLogged ? $router.push({path:'/checkout/'+id, query: { type: type }}) : dialog = true"
                          dark
                        >Book now</v-btn>
                      </p>
                    </v-card-text>
                  </v-flex>
                  <v-flex xs12>
                    <v-card-text class="grey--text text--darken-1">
                      <p>Free cancellation up to 24 hours in advance</p>
                      <v-divider></v-divider>
                    </v-card-text>
                  </v-flex>
                  <v-flex xs12>
                    <v-card-text class="mt-0 pt-0 grey--text text--darken-1">
                      <span class="headline font-weight-regular primary--text">Highlights</span>
                      <br />
                      <ul v-if="excursion">
                        <li
                          v-for="(hightlight, index) in excursion.highlights"
                          :key="index"
                          class="my-2"
                        >{{hightlight}}</li>
                      </ul>
                    </v-card-text>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-card class="my-3">
        <v-toolbar class="hidden-sm-and-down" color="white" card>
          <v-toolbar-items>
            <v-btn @click="$vuetify.goTo('#overview')" flat>Overview</v-btn>
            <v-btn @click="$vuetify.goTo('#expect')" flat>What to Expect</v-btn>
            <v-btn @click="$vuetify.goTo('#important')" flat>Important information</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-layout class="hidden-md-and-up" row wrap>
          <v-flex xs12>
            <v-btn @click="$vuetify.goTo('#overview')" flat>Overview</v-btn>
          </v-flex>
          <v-flex xs12>
            <v-btn @click="$vuetify.goTo('#expect')" flat>What to Expect</v-btn>
          </v-flex>
          <v-flex xs12>
            <v-btn @click="$vuetify.goTo('#important')" flat>Important information</v-btn>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-divider></v-divider>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-layout row wrap>
        <v-flex xs12 md8>
          <v-card class="my-3">
            <v-card-title>
              <span id="overview" class="display-1">Overview</span>
            </v-card-title>
            <v-divider class="mx-3"></v-divider>
            <v-card-text class="text-xs-left">
              <p v-if="excursion">{{excursion.overview}}</p>
            </v-card-text>
            <v-card-title>
              <span id="expect" class="display-1">What to Expect</span>
            </v-card-title>
            <v-divider class="mx-3"></v-divider>
            <v-card-text class="text-xs-left">
              <p v-if="excursion">{{excursion.expect}}</p>
            </v-card-text>
            <v-card-title>
              <span id="important" class="display-1">Important information</span>
            </v-card-title>
            <v-divider class="mx-3"></v-divider>
            <v-card-text class="text-xs-left">
              <p v-if="excursion">{{excursion.important}}</p>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 md3 offset-md1>
          <v-card class="my-3">
            <v-card-title>
              <span class="title font-weight-regular">Amenities</span>
            </v-card-title>
            <v-divider class="mx-3"></v-divider>
            <v-card-text>
              <v-list dense>
                <v-list-tile>
                  <v-list-tile-action>
                    <v-icon color="primary">directions_car</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>Hotel pickup</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-divider class="my-1"></v-divider>
                <v-list-tile dense>
                  <v-list-tile-action>
                    <v-icon color="primary">language</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>Languages offered: English, Spanish</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile dense>
                  <v-list-tile-action>
                    <v-icon color="primary">lock</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>Secure Payment!</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile dense>
                  <v-list-tile-action>
                    <v-icon color="primary">call</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>Support 24/7</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile dense>
                  <v-list-tile-action>
                    <v-icon color="primary">cancel</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>Cancel at least 24 hours in advance</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-divider></v-divider>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-card-text class="text-xs-center">
        <h1>Favorite Excursions</h1>
      </v-card-text>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-layout row wrap>
        <v-flex xs12 md3 v-for="(favorite, index) in favorites" :key="index" class="py-2 px-1">
          <v-card @click.native="reloadExcursion(favorite.id)" min-height="400" class="clickable">
            <v-img v-if="favorite" :src="favorite.pictures[0]" min-height="200"></v-img>
            <v-card-text class="text-xs-left">
              <h3 class="medium font-weight-regular">{{favorite.title.substr(0, 40).trim()}}...</h3>
              <v-rating
                v-model="favoriterating"
                background-color="amber lighten-3"
                color="amber"
                readonly
                dense
              ></v-rating>
              <br />
              <p>
                From &nbsp;&nbsp;
                <strong class="headline">${{favorite.price}}</strong>
              </p>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-dialog v-model="dialog" max-width="300px">
      <v-card>
        <v-toolbar color="primary" card dark>
          <v-toolbar-title>Sign in</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <p>You must be logged in to book.</p>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="dialog = false" color="red" flat>Cancel</v-btn>
          <v-btn to="/login" color="primary" flat>Sign in</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
import { auth, parties, excursions } from "../../firebase.config";

import { formatCurrency } from "../../filters";

export default {
  name: "Detail",

  props: {
    id: String
  },
  filters: {
    currency(value) {
      return formatCurrency(value);
    }
  },
  data: () => ({
    ratingex: 5,
    type: null,
    excursion: null,
    favoriterating: 5,
    dialog: false,
    favorites: []
  }),
  created() {
    this.init();
  },
  computed: {
    isLogged() {
      return auth.currentUser;
    }
  },
  methods: {
    init() {
      this.loadFavoriteExursions();

      this.type = this.$route.query.type;

      if (this.type == "EXCURSION") this.loadExcursion();
      else this.loadParty();
    },
    reloadExcursion(id) {
      this.id = id;

      this.init();

      window.scrollTo(0, 0);
    },
    loadParty() {
      parties
        .doc(this.id)
        .get()
        .then(documentSnapshot => {
          if (documentSnapshot.exists) this.excursion = documentSnapshot.data();
        });
    },
    loadExcursion() {
      excursions
        .doc(this.id)
        .get()
        .then(documentSnapshot => {
          if (documentSnapshot.exists) this.excursion = documentSnapshot.data();
        });
    },
    loadFavoriteExursions() {
      const self = this;
      excursions.get().then(querySnapshot => {
        const documents = querySnapshot.docs;

        let excursions = this.$lodash.map(documents, doc => {
          return { ...doc.data(), id: doc.id };
        });

        let favorites = [];

        for (let i = 0; i <= 3; i++) {
          const random = this.$lodash.random(0, excursions.length - 1);
          favorites.push(excursions[random]);
        }

        self.favorites = favorites;
      });
    }
  }
};
</script>

<style>
.clickable {
  cursor: pointer;
}
</style>