<template>
  <v-container fluid fill-height>
    <v-container v-if="excursions.length === 0" fluid fill-height>
      <v-layout row wrap>
        <v-flex xs6 md2>
          <v-subheader v-text="'Sort by city'"></v-subheader>
        </v-flex>
        <v-flex xs6 md3>
          <v-select v-model="selectedCitiy" :items="cities" item-text="name" item-value="id" solo></v-select>
        </v-flex>
        <v-flex xs12>
          <v-layout align-center justify-center>
            <v-progress-circular v-if="isLoading" size="60" indeterminate></v-progress-circular>
            <span
              v-if="excursions.length === 0 && !isLoading"
              class="display-2 font-weight-medium grey--text text--lighten-1"
            >No excursions available</span>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container v-if="excursions.length > 0" fluid fill-height>
      <v-layout row wrap>
        <v-flex xs6 md2>
          <v-subheader v-text="'Sort by city'"></v-subheader>
        </v-flex>
        <v-flex xs6 md3>
          <v-select v-model="selectedCitiy" :items="cities" item-text="name" item-value="id" solo></v-select>
        </v-flex>
        <v-flex xs12>
          <v-data-iterator :items="excursions" :pagination.sync="pagination" hide-actions>
            <template v-slot:item="props">
              <v-flex class="mb-3" xs12>
                <v-card
                  @click="$router.push({path:'/excursions/'+props.item.id, query: { type: 'EXCURSION' }})"
                >
                  <v-layout row wrap>
                    <v-flex class="pa-4" xs12 sm3>
                      <v-img
                        height="200"
                        :src="props.item.pictures.length > 0 ? props.item.pictures[0] : ''"
                      ></v-img>
                    </v-flex>
                    <v-flex class="text-xs-left" xs12 sm9>
                      <v-layout row wrap>
                        <v-flex xs12 sm8>
                          <v-card-text class="pb-0">
                            <span
                              class="ml-1 display-1 font-weight-medium black--text"
                            >{{ props.item.title }}</span>
                            <br />
                            <span
                              v-if="props.item.zone"
                              class="ml-1 font-weight-medium grey--text"
                            >{{ props.item.zone }}</span>
                            <br />
                            <v-card-title class="mx-0 px-0">
                              <v-rating
                                v-model="rating"
                                background-color="amber lighten-3"
                                color="amber"
                                readonly
                                dense
                              ></v-rating>
                              <span class="ml-1 caption grey--text text-darken-1"></span>
                            </v-card-title>
                          </v-card-text>
                          <v-card-text>
                            <p class="grey--text text--darken-1">
                              {{ props.item.overview.substr(0, 250).trim() }}...
                              <a
                                @click="$router.push({path:'/excursions/'+props.item.id, query: { type: 'EXCURSION' }})"
                              >
                                <strong class="grey--text text--darken-2">Read more</strong>
                              </a>
                            </p>
                          </v-card-text>
                        </v-flex>
                        <v-flex class="text-xs-right" xs12 sm4>
                          <v-card-text>
                            <span class="black--text">from</span>
                            <br />
                            <span class="headline black--text">${{ props.item.price | currency }}</span>
                          </v-card-text>
                          <v-btn
                            class="px-4 black--text"
                            color="amber"
                            @click.native="$router.push({path:'/excursions/'+props.item.id, query: { type: 'EXCURSION' }})"
                            dark
                          >More info</v-btn>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-flex>
            </template>
          </v-data-iterator>
          <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pages" circle></v-pagination>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
import { cities, excursions } from "../../firebase.config";

import { formatCurrency } from "../../filters";

export default {
  name: "Excursions",
  filters: {
    currency(value) {
      return formatCurrency(value);
    }
  },
  data: () => ({
    isLoading: false,
    rating: 5,
    pagination: {
      rowsPerPage: 15
    },
    cities: [
      {
        id: "all",
        name: "All"
      }
    ],
    excursions: [],
    selectedCitiy: "all"
  }),
  created() {
    this.loadCities();
    this.loadExcursions();
  },
  watch: {
    selectedCitiy: {
      handler(newValue) {
        this.loadExcursions(newValue);
      }
    }
  },
  computed: {
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    }
  },
  methods: {
    loadCities() {
      cities
        .get()
        .then(querySnapshot => {
          let documents = querySnapshot.docs;

          let cities = this.$lodash.map(documents, doc => {
            return { ...doc.data(), id: doc.id };
          });

          this.cities = this.cities.concat(cities);

          let cityId = this.$route.query.city;
          if (cityId != null) {
            this.selectedCitiy = this.$lodash.find(
              cities,
              city => city.id === cityId
            ).id;
          }
        })
        .catch(console.log);
    },
    loadExcursions(city) {
      this.isLoading = true;

      var promise;

      if (city == null) {
        city = this.$route.query.city;
      }

      console.log(city);

      if (city && city !== "all")
        promise = excursions.where("cityId", "==", city).get();
      else promise = excursions.get();

      promise
        .then(querySnapshot => {
          this.isLoading = false;

          const documents = querySnapshot.docs;

          let excursions = this.$lodash.map(documents, doc => {
            return { ...doc.data(), id: doc.id };
          });

          this.excursions = excursions;
        })
        .catch(err => {
          this.isLoading = false;
        });
    }
  }
};
</script>