<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-flex xs12 md10 offset-md1 pa-2>
        <v-carousel height="auto" hide-delimiters>
          <v-carousel-item v-for="(item, i) in posters" :key="i" :src="item.src"></v-carousel-item>
        </v-carousel>
      </v-flex>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-card-text class="text-xs-center" primary-title>
        <div>
          <h3 class="display-1 mb-0 secondary--text">Why Travel With Xarenni</h3>
        </div>
      </v-card-text>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-layout row wrap>
        <v-flex v-for="(i, idx) in info" :key="idx" xs12 md4>
          <v-card color="transparent" flat>
            <v-card-title>
              <v-img height="90px" width="250px" :src="i.img" contain></v-img>
            </v-card-title>
            <v-card-text class="secondary--text">{{ i.message }}</v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-parallax
        src="https://priceithere.com/wp-content/uploads/2015/12/service-parallax.jpg"
        height="300"
        jumbotron
      >
        <v-layout column align-center justify-center>
          <div
            class="white--text centered display-1 mb-3 text-xs-center"
          >If our packages don’t catch your eyes give us a call or send us an Email and we’ll tailor a trip that works for you , service made easy.</div>
        </v-layout>
      </v-parallax>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-card color="transparent" flat>
        <v-card-title primary-title>
          <div>
            <h3 class="display-1 mb-0 secondary--text">EXCURSIONS</h3>
          </div>
        </v-card-title>
        <v-card-text class="title">
          <p
            class="text-sm-left font-weight-light secondary--text"
          >Our excursions are full day and half day experiences, and include luch, drinks and guide troughout the tour. Half day excursions include soft drinks.</p>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-layout row wrap>
        <v-flex v-for="(city, index) in cities" :key="index" xs6 md4>
          <v-hover>
            <v-card
              @click.native="$router.push({path:'/excursions', query: { city: city.id }})"
              slot-scope="{ hover }"
              :class="`elevation-${hover ? 20 : 2} clickable`"
              dark
            >
              <v-img height="220px" :src="city.coverUrl" aspect-ratio="2.75">
                <v-card-title primary-title>
                  <div>
                    <h3 class="display-1 mb-0 centered font-weight-black">{{city.name}}</h3>
                  </div>
                </v-card-title>
              </v-img>
            </v-card>
          </v-hover>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-card color="transparent" flat>
        <v-card-title primary-title>
          <div>
            <h3 class="display-1 mb-0 secondary--text">PARTIES</h3>
          </div>
        </v-card-title>

        <v-card-text class="title">
          <p
            class="text-sm-left font-weight-light secondary--text"
          >Xarennitravel is the best travel agency in the Dominican Republic organizing the best party packages we organize: Beach Party with Bonfire, Private Party, Bachelorette Party And Local Bars Party.</p>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-layout align-center justify-center row wrap>
        <v-flex v-for="(party, index) in parties" :key="index" xs12 sm4>
          <v-card
            flat
            class="clickable"
            color="transparent"
            @click.native="$router.push({path:'/parties/'+party.id, query: { type: 'PARTY' }})"
          >
            <v-card-title primary-title>
              <v-img
                class="rounded-card"
                :src="party.pictures[0]"
                aspect-ratio="2.75"
                height="300px"
                width="220px"
              ></v-img>
            </v-card-title>
            <v-card-text class="text-xs-center">
              <div>
                <h3 class="title mb-0 font-weight-regular">{{party.title}}</h3>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-card color="transparent" flat>
        <v-card-title primary-title>
          <div>
            <h3 class="display-1 mb-0 secondary--text">Airport Transfers</h3>
          </div>
        </v-card-title>

        <v-card-text class="title">
          <p
            class="text-sm-left font-weight-regular"
          >Xarennitravel offer the best and easiest way to take Airport Transfers, we cover Dominican Republic mains airports. Shared, Private or Private VIP.</p>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 md10 offset-md1 pa-2>
      <v-layout row wrap>
        <v-flex v-for="(transfer,idx) in transfers " :key="idx" xs12 sm4>
          <v-card to="/transfers" color="transparent" flat>
            <v-card-title>
              <v-img
                class="rounded-card"
                :src="transfer.photoUrl"
                aspect-ratio="2.75"
                height="300px"
              ></v-img>
            </v-card-title>

            <v-card-text class="text-xs-center">
              <div>
                <h3 class="title mb-0 font-weight-regular">{{transfer.transferName}}</h3>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs12 md10 offset-sm1 pa-2>
      <v-responsive color="#FFF5F1">
        <v-container fill-height>
          <v-layout align-center>
            <v-flex text-xs-center>
              <v-icon color="secondary">alarm</v-icon>
              <h3 class="display-2 secondary--text">Free Cancellation</h3>

              <p
                class="headline font-weight-medium secondary--text mb-0"
              >Guest will have a full refund if you cancel at least 24 hours in advance!</p>
              <div class="text-xs-center">
                <br />
                <v-btn to="/contact" outline color="secondary">MORE</v-btn>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-responsive>
    </v-flex>
    <v-flex xs12 md10 offset-sm1 pa-2>
      <subscribe-container></subscribe-container>
    </v-flex>
  </v-layout>
</template>
<script>
import { cities, parties } from "../../firebase.config";

import Parallax from "vue-parallaxy";
import SubscribeContainer from "../../components/Subscribe-Container";

export default {
  components: {
    Parallax,
    SubscribeContainer
  },
  data: () => ({
    cities: [],
    parties: [],
    info: [
      {
        message:
          "Shared, Private or Private VIP Start your vacation with style by getting picked up at the airport in our full equipped vehicles. Great service available it’s made a huge difference for many of our guest and is provided with the highest level of excellence. Whenever you book with xarennitravel.com you can trust that you’re in great hands",
        img:
          "https://firebasestorage.googleapis.com/v0/b/xarenni-web.appspot.com/o/transfer-icon.png?alt=media&token=7ef8cdc5-78b3-4f61-a7cb-72ba1f69069a"
      },
      {
        message:
          " As one of our most popular services, this excursions tend to fill up fast. Just let us know what type of excursions you need to plan rest and relax we assured that we will provide all the resources you need for the perfect excursions.",
        img:
          "https://firebasestorage.googleapis.com/v0/b/xarenni-web.appspot.com/o/iconos-luis-04.png?alt=media&token=5704b4e7-0d97-4747-9f6e-22173786f04b"
      },
      {
        message:
          "For assistance or questions prior, though and after your vacation please don’t hesitate to get in touch with our Guest Service Agents 24/7 all year round or Email xarennitravel10@gmail.com Facebook Xarennitravel and Instagram Xarennitravel ",
        img:
          "https://firebasestorage.googleapis.com/v0/b/xarenni-web.appspot.com/o/service-icon.png?alt=media&token=ea7cbc14-5e96-4b31-81a0-76d61b781caa"
      }
    ],
    transfers: [
      {
        transferName: "Punta Cana",
        photoUrl:
          "https://firebasestorage.googleapis.com/v0/b/xarenni-web.appspot.com/o/airp.jpg?alt=media&token=77a4fb48-5f45-4f08-a4df-1a92e961d4c7"
      },
      {
        transferName: "Puerto Plata",
        photoUrl: "https://firebasestorage.googleapis.com/v0/b/xarenni-web.appspot.com/o/travel-two.jpg?alt=media&token=58ba91c9-67e3-4c4e-8326-5efa952e7acb"
      },
      {
        transferName: "Santo Domingo",
        photoUrl:
          "https://firebasestorage.googleapis.com/v0/b/xarenni-web.appspot.com/o/direct.jpg?alt=media&token=dbc5f5cd-2309-49b8-8cc7-433a89f7a023"
      }
    ],
    posters: [
      {
        src:
          "https://firebasestorage.googleapis.com/v0/b/xarenni-web.appspot.com/o/slider-one-mosi.jpg?alt=media&token=5bbb1973-ef54-4d64-9a57-81b311dd7cef"
      },
      {
        src:
          "https://firebasestorage.googleapis.com/v0/b/xarenni-web.appspot.com/o/the-more-poster-xarenni-three.jpg?alt=media&token=93c27f47-90ac-45c8-91cd-70c047b1709e"
      },
      {
        src:
          "https://firebasestorage.googleapis.com/v0/b/xarenni-web.appspot.com/o/poster-xarenni-posterex.jpg?alt=media&token=b9b1e1f3-a322-4c45-b39c-22de76618643"
      }
    ]
  }),
  created() {
    this.loadCities();
    this.loadParties();
  },
  methods: {
    loadCities() {
      cities.get().then(querySnapshot => {
        const documents = querySnapshot.docs;

        let cities = this.$lodash.map(documents, doc => {
          return { ...doc.data(), id: doc.id };
        });

        this.cities = cities;
      });
    },
    loadParties() {
      parties.get().then(querySnapshot => {
        const documents = querySnapshot.docs;

        let parties = this.$lodash.map(documents, doc => {
          return { ...doc.data(), id: doc.id };
        });

        this.parties = parties;
      });
    }
  }
};
</script>

<style>
.clickable {
  cursor: pointer;
}

.rounded-card {
  border-radius: 6px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 1px #000000;
}
</style>