<template>
  <v-container fluid fill-height>
    <v-layout row wrap>
      <v-flex xs12 sm8 offset-sm2>
        <v-card>
          <v-card-title class="text-sm-left" primary-title>
            <div>
              <v-icon large color="secondary">{{ isSignIn ? 'exit_to_app' : 'person_add' }}</v-icon>
              <h2>{{ isSignIn ? 'Access to your account' : 'Sign up to checkout wonderful trips' }}</h2>
            </div>
          </v-card-title>
          <v-card-text class="text-xs-right">
            <v-form ref="form" v-model="form.valid" lazy-validation>
              <v-text-field
                v-model="user.name"
                v-if="!isSignIn"
                :rules="[form.required]"
                browser-autocomplete="false"
                prepend-icon="person"
                label="Name"
                type="text"
              ></v-text-field>
              <v-text-field
                v-model="user.lastname"
                v-if="!isSignIn"
                :rules="[form.required]"
                browser-autocomplete="false"
                prepend-icon="people"
                label="Lastname"
                type="text"
              ></v-text-field>
              <v-textarea
                v-model="user.address"
                v-if="!isSignIn"
                :rules="[form.required]"
                browser-autocomplete="false"
                prepend-icon="location_on"
                label="Address"
                rows="3"
                type="text"
                no-resize
              ></v-textarea>
              <v-text-field
                v-model="user.phone"
                v-if="!isSignIn"
                :rules="[form.required]"
                browser-autocomplete="false"
                prepend-icon="phone"
                prefix="+1"
                label="Phone"
                :mask="'###-###-####'"
              ></v-text-field>
              <v-text-field
                v-model="user.email"
                :rules="[form.required]"
                browser-autocomplete="false"
                prepend-icon="person"
                label="E-mail"
                type="text"
              ></v-text-field>
              <v-text-field
                v-model="user.password"
                :rules="[form.required]"
                prepend-icon="lock"
                label="Password"
                id="password"
                type="password"
              ></v-text-field>
            </v-form>
            <span
              v-if="isSignIn"
              class="clickable primary--text font-weight-medium"
            >Forgot password ?</span>
          </v-card-text>

          <v-card-text class="text-xs-center">
            <v-btn @click="submit" color="primary">{{ isSignIn ? 'Login' : 'Sign Up'}}</v-btn>
            <br />
            <br />
            <p>
              <span>
                {{ isSignIn ? 'Don’t have an account yet? ' : 'I already have an account. ' }}
                <span
                  @click="isSignIn = !isSignIn"
                  class="clickable primary--text font-weight-medium"
                >{{ isSignIn ? 'Sign up !' : 'Let\'s go back to log in'}}</span>
              </span>
              <span v-if="isSignIn">
                <br />
                <br />
                <span>Or sign in with</span>
                <br />
                <img
                  @click="signInWithFacebook"
                  class="clickable"
                  src="https://img.icons8.com/color/32/000000/facebook.png"
                />
              </span>
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
            
<script>
import firebase from "firebase/app";
import "firebase/auth";

import { auth, users } from "../../firebase.config";

export default {
  data: () => ({
    isSignIn: true,
    form: {
      valid: false,
      required: v => !!v || "This field is required"
    },
    user: {},
    items: [
      "Ask for a booking",
      "Cancel Booking",
      "Confirm pickup time",
      "Request Group Pricing"
    ]
  }),
  methods: {
    signInWithFacebook() {
      let provider = new firebase.auth.FacebookAuthProvider();

      provider.addScope("email");
      provider.setCustomParameters({
        display: "popup"
      });

      auth
        .signInWithPopup(provider)
        .then(result => {
          var token = result.credential.accessToken;
          console.log(token);

          this.$router.push("/account");
        })
        .catch(error => {
          this.$emit("show-snackbar", error.message);
        });
    },
    submit() {
      if (this.$refs.form.validate()) {
        const email = this.user.email;
        const password = this.user.password;
        if (this.isSignIn) {
          auth
            .signInWithEmailAndPassword(email, password)
            .then(_ => {
              this.$router.push("/");
            })
            .catch(error => {
              this.$emit("show-snackbar", error.message);
            });
        } else {
          const name = this.user.name;
          const lastname = this.user.lastname;
          const address = this.user.address;
          const phone = this.user.phone;
          auth
            .createUserWithEmailAndPassword(email, password)
            .then(response => {
              const user = response.user;
              if (user) {
                user
                  .updateProfile({
                    displayName: `${name.trim()} ${lastname.trim()}`
                  })
                  .then(_ => {
                    users
                      .doc(user.uid)
                      .set({
                        name: name,
                        lastname: lastname,
                        address: address,
                        phone: phone
                      })
                      .then(_ => {
                        this.$router.push("/account");
                      });
                  });
              }
            })
            .catch(error => {
              this.$emit("show-snackbar", error.message);
            });
        }
      }
    }
  }
};
</script>

<style>
.clickable {
  cursor: pointer;
}
</style>

              
            