<template>
  <v-container fluid text-xs-center>
   
    <h1>Privacy Policy for Xarenni Travel</h1>

<p>At  Xarennitravel.com™, accessible from https://xarennitravel.com/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by  Xarennitravel.com™ and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at xarennitravel10@gmail.com</p>



<p> Xarennitravel.com™ follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

<h2>Cookies and Web Beacons</h2>

<p>Like any other website,  Xarennitravel.com™ uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>



<h2>Privacy Policies</h2>



<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on  Xarennitravel.com™, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

<p>Note that  Xarennitravel.com™ has no access to or control over these cookies that are used by third-party advertisers.</p>

<h2>Third Party Privacy Policies</h2>

<p> Xarennitravel.com™'s Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. You may find a complete list of these Privacy Policies and their links here: Privacy Policy Links.</p>

<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?</p>

<h2>Children's Information</h2>

<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

<p> Xarennitravel.com™ does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>

<h2>Online Privacy Policy Only</h2>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in  Xarennitravel.com™. This policy is not applicable to any information collected offline or via channels other than this website.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
  </v-container>
</template>
<script>
export default {
  name: "About",
  components: {},
  data: () => ({
    sections: [
      {
        title:
          "xarennitravel.com is a travel agency dedicated for travelers worldwide, based in the Dominican Republic we offer the best Excursions deals, Airport Transfers, Party, Fun and much more."
      },
      {
        title:
          "100% best excursions deals and discounts, we are the first travel agency in the world in which our Guests can call us live by Skype or Facetime and make excursions deals."
      },
      {
        title:
          "We know the meaning and values of family, memories, experience, vacation, getaway and holidays and we also know and value how hard people work to save and go on vacation. "
      },
      {
        title:
          "Please don’t hesitate to get in touch with us we work 24/7  all year round."
      }
    ],

    lorem: "lOREN IMSUP KL ARDEN",
    markers: [
      {
        title: "NAGUA",
        position: {
          lat: 19.3782268,
          lng: -69.8526621
        },
        description: "Sucursal Nagua"
      },
      {
        title: "EL FACTOR",
        position: {
          lat: 19.3158207,
          lng: -69.8949767
        },
        description: "Sucursal El Factor"
      },
      {
        title: "MATANCITAS",
        position: {
          lat: 19.3540834,
          lng: -69.8345005
        },
        description: "Sucursal Matancitas"
      }
    ]
  }),
  created() {},
  computed: {}
};
</script>

<style>
.rounded-card {
  border-radius: 6px;
}
</style>