<template>
  <v-app>
    <x-toolbar></x-toolbar>
    <v-content app>
      <v-fab-transition>
        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <a href="https://wa.me/+18297853039">
            <v-btn 

            
           
            color="#25d366" dark round bottom v-on="on" right fixed fab>
              <img src="https://img.icons8.com/color/48/000000/whatsapp.png" />
            </v-btn>
            </a>
          </template>
          <span>How can we help you?</span>
        </v-tooltip>
      </v-fab-transition>
      <v-container fluid fill-height>
        <router-view v-on:show-snackbar="showSnackbar" />
      </v-container>
      <v-snackbar v-model="snackbar.visible" :timeout="3000">
        <span>{{snackbar.text}}</span>
        <v-btn @click.native="snackbar.visible = false" dark flat>Cerrar</v-btn>
      </v-snackbar>
    </v-content>
    <v-footer color="#0D47A1" height="auto">
      <v-container fluid text-xs-center>
        <v-layout row wrap>
          <v-flex xs4>
            <v-flex color="#0D47A1" light>
              <img
                height="130px"
                width="135px"
                src="https://firebasestorage.googleapis.com/v0/b/xarenni-web.appspot.com/o/logo-redesing-xareniw2.png?alt=media&token=409026ab-79c2-4f06-81ac-bfc79033b3ac"
                alt
              />
              <v-autocomplete
                :items="languaje"
                label="English"
                item-value="name"
                solo
                light
                required
              ></v-autocomplete>
             

              <v-btn v-for="icon in icons" :key="icon" class="mx-3" dark icon>
                <v-icon size="24px">{{ icon }}</v-icon>
              </v-btn>
            </v-flex>
          </v-flex>
          <v-flex xs4>
            <v-flex>
              <v-flex ml-3>

              
             
           <a href="https://xarennitravel.com/privacy">  <p class="text-sm-left white--text">Privacy Policy</p></a>
               <a href="https://xarennitravel.com/about"> <p  class="text-sm-left white--text">About Xarenni</p></a>
              </v-flex>
            </v-flex>
          </v-flex>
          <v-flex xs4>
            <v-flex dark>
              <v-flex ml-3>
                
               
              </v-flex>
            </v-flex>
          </v-flex>
        </v-layout>
           <p class="text-sm-left white--text">Copyright © 2019 xarennitravel.com™. All rights reserved.</p>
      </v-container>
    
    </v-footer>
  </v-app>
</template>

<script>
import XToolbar from "../../components/Toolbar";

export default {
  name: "Start",
  components: {
    XToolbar
  },
  data() {
    return {
      icons: ["fab fa-facebook", "fab fa-twitter", "fab fa-instagram"],
      languaje: ["English", "French", "Spanish", "German"],
      currency: ["USD", "EUR", "DOP"],
      snackbar: {
        visible: false,
        text: ""
      }
    };
  },
  methods: {
    showSnackbar(message) {
      this.snackbar.visible = true;
      this.snackbar.text = message;
    }
  }
};
</script>