<template>

  <v-container fluid  text-xs-center>
    
 
  
    <v-flex xs12 >
      <v-card >
        <v-img
          class="white--text"
          height="350px"
          src="https://static.tacdn.com/img2/branding/homepage/home-tab5-hero-cfh-1367x520.jpg"
        > <v-layout column align-center justify-center>
          <div
            class="white--text centered display-1 mb-3 text-xs-center"
          > OUR AIRPORT TRANSFERS</div>
        </v-layout>
   
        </v-img>
       
     
      </v-card>
    </v-flex>

    <v-flex mt-5 xs12 justify-content-center>
      
        <h1 >  Popular airport transfers Dominican Republic</h1>
   
      
    </v-flex>

     <v-card-text class="title text--darken-1">
          <p
            class="text-sm-left font-weight-regular "
          >Xarennitravel offer the best and easiest way to take Airport Transfers, we cover Dominican Republic mains airports. Shared, Private or Private VIP.</p>
        </v-card-text>
      <v-layout row wrap>

     <v-flex v-for="(i, idx) in info" :key="idx" class="px-2" xs12 sm4 >
      <v-card color="transparent" flat>
        <v-img
      :src="i.img"
      
      aspect-ratio="2"
      class="grey lighten-2"
      max-width="500"
      max-height="300"
    ></v-img>
        <v-card-title>
         
        </v-card-title>
        <p class="secondary--text body-2">{{ i.message }}</p>
      </v-card>
    </v-flex>
      </v-layout>

    <v-container >
        <v-layout row wrap>
    
           
            <v-flex v-for="(excurtion,idx) in excurtions "  :key="idx" sm6 md4  >
           
             <v-hover>

             
                
            
              <v-card light slot-scope="{ hover }"
              :class="`elevation-${hover ? 20 : 2}`" dark >

                  <v-img
                  height="220px"
                  
                  :src="excurtion.src"
                  aspect-ratio="2.75"
                >
                <v-card-title primary-title>
                    <div>
                      <h3 class="display-1 mb-0 centered font-weight-black">{{excurtion.title}}</h3>
                      
                    </div>
                  </v-card-title>
              </v-img>
             
              </v-card>

              </v-hover>
            </v-flex>

              <v-flex xs12 md10 offset-sm1 pa-2>
      <v-responsive color="#FFF5F1">
        <v-container fill-height>
          <v-layout align-center>
            <v-flex text-xs-center>
              <v-icon color="sun">stars</v-icon>
              <h3 class="display-2 secondary--text">Xarennitravel!</h3>

              <p
                class="headline font-weight-medium secondary--text mb-0"
              >Please to book your airport transfers get in touch with us at 1-829-785-3039 whatsapp, Facebook Xarennitravel, IG Xarennitravel, Skype xarennitravel10@gmail.com</p>
              <div class="text-xs-center">
                <br />
                <v-btn to="/contact" outline color="secondary">Contact us now!</v-btn>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-responsive>
    </v-flex>
          

                
         
           
          
       
          </v-layout>
        </v-container>
        

</v-container>
</template>

<script>
    export default {
      data: () => ({
  
       
        
                 
               excurtions: [
        { title: 'Punta Cana International Airport-PUJ', src: 'https://www.punta-cana-airport.com/images/punta-cana-international-airport.jpg', flex: 12 },
        { title: 'Puerto Plata Gregorio Luperón International Airport-POP', src: 'http://extremehotels.com/wp-content/uploads/2013/11/puerto-plata-airport.jpg', flex: 6 },
        { title: 'Samaná El Catey International Airport-AZS', src: 'https://villataina-pfmwv1vqf2or.netdna-ssl.com/wp-content/uploads/2017/01/dominican-republic-airports.jpg', flex: 6 },
        { title: 'La Romana International Airport-LRM', src: 'https://img.travel-tool.net/productos/75768/BAYAHIBE---Junio-2019---Cupos-confirmados-AR-7-noches_88.jpg', flex: 6 },
              
        { title: 'Santiago Cibao International Airport-STI', src: 'http://www.godominicanrepublic.com/wp-content/uploads/2018/08/laguna-gri-gri-rio-san-juan.jpg', flex: 6 },
        { title: 'Las Américas International Airport-SDQ', src: 'https://images.visitarepublicadominicana.org/Turismo-en-Santo-Domingo.jpg', flex: 6 },
       
   
      ], info: [
      // {
      //   message:
      //     "Xarennitravel offer the best and easiest way to take Airport Transfers, we cover Dominican Republic mains airports. Shared, Private or Private VIP. No extra charges or hidden fee.",
      //   img:
      //     "https://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2020/crossovers-suvs/suburban/colorizer/01-images/2020-suburban-1lz-gba-colorizer.jpg"
      // },
      {
        message:
          " SHARED:Full equipped air conditioning vehicle shared with guests from others resorts, our driver will be waiting for you upon arrival with guests list names. No extra charges or hidden fee. ",
        img:
          "https://cometcar.co.za/media/k2/items/cache/c1572c59821062c96d0fc33ad32a2983_XL.jpg"
      },
      {
        message:
          "PRIVATE: Non stop departure direct to your resort. Great service in a full modern equipped air conditioning vehicle.Our driver will be waiting for you upon arrival with the family booking names.Free WiFi service on board. Perfect for families or Private groups. No extra charges or hidden fee.",
        img:
          "https://www.skafrentacar.com/wp-content/uploads/2019/06/Hyndai-H1-01.jpg"
      },{

        message:"PRIVATE VIP: Deluxe modern air conditioning vehicle. Non stop transportation directly to your resort.Our driver will be waiting for you upon arrival with the family booking names.Soft drinks bottled water and beer. Free Wifi on board. No extra charges or hidden fee.",
        img:"https://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2020/crossovers-suvs/suburban/colorizer/01-images/2020-suburban-1lz-gba-colorizer.jpg"
      }
    ]

     
          
              
            
                
  
  
      })
    }
  </script>
  <style>
      .rounded-card{
        border-radius:6px;
      }
      
      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow:2px 2px 2px #000000
      }
      .trans {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
      </style>
      