<template>
  <v-card height="330px" dark color="secondary">
    <v-layout row wrap>
      <v-flex xs12 md6 offset-md3>
        <v-card-text class="text-xs-center">
          <h1 class="font-weight-light sun--text">¡Save time and money!</h1>
          <p class="title">Subscribe and we will send you the best offers</p>
        </v-card-text>
        <v-card-text class="text-xs-center">
          <v-form ref="form" v-model="form.valid" lazy-validation>
            <v-text-field
              v-model="email"
              light
              label="E-mail"
              prepend-inner-icon="email"
              :rules="[form.rules.required]"
              solo
              required
            ></v-text-field>
            <v-btn @click="submit" outline large color="sun">¡subscribe!</v-btn>
          </v-form>
        </v-card-text>
      </v-flex>
    </v-layout>
    <v-dialog v-model="dialog" max-width="300px" persistent>
      <v-card>
        <v-toolbar color="transparent" card>
          <v-toolbar-title class="green--text">Thanks</v-toolbar-title>
        </v-toolbar>
        <v-card-text class="text-xs-center">
          <p class="subheading">We will be sending you our best offers soon</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="dialog = false" color="primary" flat>Accept</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>
<script>
import * as emailjs from "emailjs-com";

export default {
  name: "Subscribe-Container",
  data: () => ({
    dialog: false,
    form: {
      valid: false,
      rules: {
        required: v => !!v || "Required field"
      }
    },
    email: null
  }),
  created() {
    emailjs.init("user_izmbzdns0vuzMVfcvLLZk");
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        emailjs
          .send("default_service", "template_k0Woi7ks", {
            subscriber_email: this.email
          })
          .then(console.log)
          .catch(console.log);

        this.$refs.form.reset();

        this.dialog = true;
      }
    }
  }
};
</script>