<template>
  <v-toolbar color="white" app absolute>
    <img
      height="120px"
      width="135px"
      src="https://firebasestorage.googleapis.com/v0/b/xarenni-web.appspot.com/o/logo-redesing-xareni.png?alt=media&token=99ddc38d-9891-4f94-915c-e6938f5d8e74"
      alt
    />
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn v-for="(item, index) in toolbar" :key="index" :to="item.path" flat>
        <span class="text-uppercase body-2 font-weight-bold primary--text">{{ item.title }}</span>
      </v-btn>
    </v-toolbar-items>
    <v-spacer></v-spacer>

    <v-toolbar-title v-if="user" class="white--text">
      <v-btn color="secondary" to="/account" flat>
        <v-icon left>account_circle</v-icon>
        <span
          class="text-uppercase body-2 font-weight-bold"
        >{{ user.displayName.split(' ')[0] }}</span>
      </v-btn>
    </v-toolbar-title>
    <v-btn v-if="!user" to="/login" icon>
      <v-icon color="secondary">account_circle</v-icon>
    </v-btn>
    <v-btn to="/login" class="hidden-sm-and-down white--text" color="#f2b41c">
      <v-icon dark>call</v-icon>+1 (829) 785-3039
    </v-btn>
    <v-menu class="hidden-md-and-up" bottom left>
      <v-toolbar-side-icon slot="activator"></v-toolbar-side-icon>
      <v-list>
        <!-- <v-list-tile to="/login">
          <v-list-tile-title
            v-if="user"
            class="text-uppercase body-2 font-weight-bold"
          >Hi, {{user.displayName.split(' ')[0]}}</v-list-tile-title>
          <v-list-tile-title v-if="!user" class="text-uppercase body-2 font-weight-bold">Sign in</v-list-tile-title>
        </v-list-tile>
        <v-divider></v-divider>-->
        <v-list-tile v-for="(item, index) in toolbar" :key="index" :to="item.path" color="#002f6c">
          <v-list-tile-content>
            <v-list-tile-title class="text-uppercase body-2 font-weight-bold">{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>
<script>
import { auth } from "../firebase.config";

export default {
  name: "Toolbar",
  data: () => ({
    toolbar: [
      {
        title: "Home",
        path: "/"
      },
      {
        title: "Excursions",
        path: "/excursions"
      },
      {
        title: "Airport transfers",
        path: "/transfers"
      },
      {
        title: "About us",
        path: "/about"
      },
      {
        title: "Contact us",
        path: "/contact"
      }
    ],
    user: null
  }),
  created() {
    auth.onAuthStateChanged(user => {
      this.user = user;
    });
  }
};
</script>