<template>
    <v-app>
    <v-navigation-drawer v-if="isLogged" v-model="drawer" stateless clipped fixed app>
      <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile avatar>
            <v-list-tile-avatar color="grey">
              <v-icon dark>person</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>Will López</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-list>
        <v-divider class="mb-3"></v-divider>
        <v-list-group
          v-for="option in drawerOptions"
          :key="option.title"
          :value="option.active"
          :prepend-icon="option.icon"
          no-action
        >
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>{{ option.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile v-for="(child, idx) in option.children" :key="idx" :to="child.path">
            <v-list-tile-content>
              <v-list-tile-title>{{ child.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
        <v-divider class="my-3"></v-divider>
        <v-list-tile @click="signOut">
          <v-list-tile-action>
            <v-icon>directions_run</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Close</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar v-if="isLogged" app fixed clipped-left>
      <v-toolbar-side-icon @click.stop="drawer = !drawer">
        <v-icon color="primary">menu</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title class="primary--text">Panel de control</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <router-view v-on:show-snackbar="showSnackbar"/>
      </v-container>
      <v-snackbar v-model="snackbar.visible" :timeout="3000">
        <span>{{snackbar.text}}</span>
        <v-btn @click.native="snackbar.visible = false" dark flat>Close</v-btn>
      </v-snackbar>
    </v-content>
  </v-app>
</template>
<script>
import { auth } from "../../firebase.config.js";

export default {
  name: "Admin",
  data: () => ({
    isLogged: false,
    drawer: null,
    drawerOptions: [
      {
        title: "Excursions",
        icon: "assignment_return",
        active: false,
        children: [
          {
            title: "Manage excursions",
            path: "/admin/dashboard/excursions"
          }
        ]
      },
      {
        title: "Reservations",
        icon: "check",
        active: false,
        children: [
          {
            title: "View reservations",
            path: "/admin/dashboard/reservations"
          }
        ]
      }
    ],
    snackbar: {
      visible: false,
      text: ""
    }
  }),
  created() {
    auth.onAuthStateChanged(user => {
      this.isLogged = !!user;
    });
  },
  computed: {
    username() {
      const displayName = auth.currentUser.displayName;
      return displayName ? displayName : "Welcome";
    }
  },
  methods: {
    showSnackbar(message) {
      this.snackbar.visible = true;
      this.snackbar.text = message;
    },
    signOut() {
      auth.signOut().then(() => {
        this.$router.replace("/");
      });
    }
  }
};
</script>