<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card>
        <v-toolbar color="transparent" card>
          <v-toolbar-title>Excursions</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-text-field v-model="table.search" label="Search" prepend-icon="search"></v-text-field>
        </v-toolbar>
        <v-btn
          to="/admin/dashboard/excursions/new"
          class="mx-4"
          color="green"
          small
          outline
          round
        >New excursion</v-btn>
        <v-data-table
          :headers="table.headers"
          :items="excursions"
          :search="table.search"
          :loading="table.loading"
          :pagination.sync="table.pagination"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.title }}</td>
            <td>${{ props.item.price | currency }}</td>
            <td>${{ props.item.childPrice | currency }}</td>
            <td>{{ props.item.date }}</td>
            <td class="justify-center layout px-0">
              <v-btn :to="'/admin/dashboard/excursions/'+props.item.id" icon>
                <v-icon small>edit</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import { excursions } from "../../firebase.config";

import { formatCurrency, formatDate } from "../../filters";

export default {
  name: "Excursions",
  filters: {
    currency(v) {
      return formatCurrency(v);
    },
    date(v) {
      return formatDate(v);
    }
  },
  data: () => ({
    table: {
      search: "",
      loading: false,
      pagination: {
        sortBy: "created",
        descending: true
      },
      headers: [
        { text: "Name", value: "title" },
        { text: "Price", value: "price" },
        { text: "Child price", value: "childPrice" },
        { text: "Date", value: "date" },
        { text: "Actions", value: "id", sortable: false }
      ]
    },
    excursions: []
  }),
  created() {
    this.loadExcursions();
  },
  methods: {
    loadExcursions() {
      this.table.loading = true;
      excursions
        .get()
        .then(querySnapshot => {
          this.table.loading = false;

          const documents = querySnapshot.docs;

          let excursions = this.$lodash.map(documents, doc => {
            let data = doc.data();
            let startDate = data.startDate ? data.startDate.toDate() : 0;
            let endDate = data.endDate ? data.endDate.toDate() : 0;

            delete data["startDate"];
            delete data["endDate"];

            return { ...data, id: doc.id, startDate, endDate };
          });

          this.excursions = excursions;
        })
        .catch(err => {
          this.table.loading = false;
        });
    }
  }
};
</script>