<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card>
        <v-toolbar color="transparent" card>
          <v-btn @click="$router.go(-1)" icon>
            <v-icon>arrow_back</v-icon>
          </v-btn>
          <v-toolbar-title>{{ title }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form ref="form" v-model="form.valid" lazy-validation>
            <v-layout row wrap>
              <v-flex class="px-1" xs12 sm4>
                <v-text-field
                  label="Name"
                  type="text"
                  prepend-inner-icon="landscape"
                  v-model="excursion.title"
                  :rules="[form.rules.required]"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex class="px-1" xs12 sm4>
                <v-text-field
                  label="Price"
                  type="number"
                  prepend-inner-icon="attach_money"
                  v-model.number="excursion.price"
                  :rules="[form.rules.required]"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex class="px-1" xs12 sm4>
                <v-text-field
                  label="Child price"
                  type="number"
                  prepend-inner-icon="attach_money"
                  v-model.number="excursion.childPrice"
                  :rules="[form.rules.required]"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex class="px-1" xs12>
                <v-select
                  v-model="excursion.cityId"
                  :items="cities"
                  menu-props="auto"
                  label="City"
                  prepend-inner-icon="map"
                  item-text="name"
                  item-value="id"
                  hide-details
                  single-line
                  required
                ></v-select>
              </v-flex>
              <v-flex class="px-1" xs12>
                <v-text-field
                  label="Zone"
                  type="text"
                  prepend-inner-icon="my_location"
                  v-model="excursion.zone"
                  :rules="[form.rules.required]"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex class="px-1" xs12>
                <v-textarea
                  v-model="excursion.overview"
                  rows="3"
                  label="Overview"
                  prepend-inner-icon="insert_drive_file"
                  :rules="[form.rules.required]"
                ></v-textarea>
              </v-flex>
              <v-flex class="px-1" xs12>
                <v-textarea
                  v-model="excursion.expect"
                  rows="3"
                  label="Expect"
                  prepend-inner-icon="thumb_up"
                  :rules="[form.rules.required]"
                ></v-textarea>
              </v-flex>
              <v-flex class="px-1" xs12>
                <v-textarea
                  v-model="excursion.important"
                  rows="3"
                  label="Important"
                  prepend-inner-icon="warning"
                  :rules="[form.rules.required]"
                ></v-textarea>
              </v-flex>
              <v-flex class="px-1" xs12>
                <v-textarea
                  v-model="highlights"
                  rows="3"
                  label="Highlights"
                  prepend-inner-icon="star"
                  hint="Remember to separate each of the highlights by commas"
                  :rules="[form.rules.required]"
                  required
                ></v-textarea>
              </v-flex>
              <v-flex class="px-1" xs12>
                <v-textarea
                  v-model="expenses"
                  rows="3"
                  label="Additional expenses"
                  prepend-inner-icon="attach_money"
                  hint="Remember to separate each of the additional expenses by commas"
                ></v-textarea>
              </v-flex>
              <v-flex class="px-1" xs12>
                <v-text-field
                  v-model="excursion.date"
                  label="Date"
                  prepend-inner-icon="date_range"
                  :rules="[form.rules.required]"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <h3>Pictures</h3>
              </v-flex>
              <v-flex class="px-1" xs12 sm4>
                <v-text-field
                  label="Picture 1"
                  type="text"
                  hint="URL of the picture"
                  prepend-inner-icon="photo"
                  v-model="excursion.pictures[0]"
                  :rules="[form.rules.required]"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex class="px-1" xs12 sm4>
                <v-text-field
                  label="Picture 2"
                  type="text"
                  hint="URL of the picture"
                  prepend-inner-icon="photo"
                  v-model="excursion.pictures[1]"
                  :rules="[form.rules.required]"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex class="px-1" xs12 sm4>
                <v-text-field
                  label="Picture 3"
                  type="text"
                  hint="URL of the picture"
                  prepend-inner-icon="photo"
                  v-model="excursion.pictures[2]"
                  :rules="[form.rules.required]"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="!isNew" @click="remove" color="red" flat>delete</v-btn>
          <v-btn @click="submit" color="green" flat>Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import { cities, excursions } from "../../firebase.config";

export default {
  name: "Excursion",
  props: {
    id: String
  },
  data: () => ({
    form: {
      valid: false,
      rules: {
        required: v => !!v || "Required field"
      }
    },
    highlights: "",
    expenses: "",
    cities: [],
    excursion: {
      pictures: ["", "", ""]
    }
  }),
  created() {
    this.loadCities();

    if (!this.isNew) this.loadExcursion();
  },
  computed: {
    isNew() {
      return this.id === "new";
    },
    title() {
      return this.isNew ? "Submit new excursion" : "Edit excursion";
    }
  },
  methods: {
    allowedDate(val) {
      return this.$moment(val).isAfter(this.$moment());
    },
    loadExcursion() {
      excursions
        .doc(this.id)
        .get()
        .then(document => {
          if (document.exists) {
            const data = document.data();

            let highlights = "";

            data.highlights.forEach(h => {
              if (highlights === "") {
                highlights += h;
              } else {
                highlights += ", " + h;
              }
            });

            if (data.expenses) {
              let expenses = "";

              data.expenses.forEach(e => {
                if (expenses === "") {
                  expenses += e;
                } else {
                  expenses += ", " + e;
                }
              });

              this.expenses = expenses;

              delete this.excursion["expenses"];
            }

            this.highlights = highlights;
            this.excursion = data;

            delete this.excursion["highlights"];
          }
        });
    },
    loadCities() {
      cities.get().then(querySnapshot => {
        const documents = querySnapshot.docs;

        let cities = this.$lodash.map(documents, doc => {
          return { ...doc.data(), id: doc.id };
        });

        this.cities = cities;
      });
    },
    remove() {
      excursions
        .doc(this.id)
        .delete()
        .then(() => {
          this.$router.go(-1);
        })
        .catch(error => {
          this.$emit("show-snackbar", error.message);
        });
    },
    submit() {
      if (this.$refs.form.validate()) {
        let excursion = {
          ...this.excursion,
          rating: 0
        };

        delete excursion["highlights"];
        delete excursion["expenses"];

        if (this.highlights && this.highlights.length > 0)
          excursion["highlights"] = this.highlights.split(",");
        if (this.expenses && this.expenses.length > 0)
          excursion["expenses"] = this.expenses.split(",");

        console.log(excursion);

        if (this.isNew) {
          excursions
            .doc()
            .set(excursion)
            .then(() => {
              this.$router.go(-1);
            })
            .catch(error => {
              this.$emit("show-snackbar", error.message);
            });
        } else {
          excursions
            .doc(this.id)
            .update(excursion)
            .then(() => {
              this.$router.go(-1);
            })
            .catch(error => {
              this.$emit("show-snackbar", error.message);
            });
        }
      }
    }
  }
};
</script>