<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar dark card color="primary">
          <v-toolbar-title>Administrative module access</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form ref="form" v-model="form.valid" lazy-validation>
            <v-text-field
              v-model="email"
              prepend-icon="person"
              name="login"
              label="E-mail"
              type="text"
              :rules="[form.required, form.email]"
              required
            ></v-text-field>
            <v-text-field
              v-model="password"
              prepend-icon="lock"
              name="password"
              label="Password"
              type="password"
              :rules="[form.required]"
              required
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-layout justify-center>
            <v-btn @click="submit()" round class="my-2" color="primary">Enter</v-btn>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { auth } from "../../firebase.config.js";

export default {
  name: "Login",
  data: () => ({
    form: {
      valid: false,
      required: v => !!v || "Required field",
      email: v => /.+@.+/.test(v) || "Must be a valid e-mail"
    },
    email: null,
    password: null
  }),
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        auth
          .signInWithEmailAndPassword(this.email, this.password)
          .then(response => {
            this.$router.replace("/admin/dashboard/excursions");
          })
          .catch(error => {
            this.$emit("show-snackbar", error.message);
          });
      }
    }
  }
};
</script>