<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card>
        <v-toolbar color="transparent" card>
          <v-toolbar-title>Reservations</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-text-field v-model="table.search" label="Search" prepend-icon="search"></v-text-field>
        </v-toolbar>
        <v-data-table
          :headers="table.headers"
          :items="reservations"
          :search="table.search"
          :loading="table.loading"
          :pagination.sync="table.pagination"
          :custom-filter="customFilter"
        >
          <template slot="items" slot-scope="props">
            <td>{{ `${props.item.user.name} ${props.item.user.lastname}` }}</td>
            <td>{{ props.item.activity.title }}</td>
            <td>{{ props.item.activity.type }}</td>
            <td>${{ props.item.activity.price | currency }}</td>
            <td>{{ props.item.created | date }}</td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import { reservations } from "../../firebase.config";

import { formatCurrency, formatDate } from "../../filters";

export default {
  name: "Reservations",
  filters: {
    currency(v) {
      return formatCurrency(v);
    },
    date(v) {
      return formatDate(v);
    }
  },
  data: () => ({
    table: {
      search: "",
      loading: false,
      pagination: {
        sortBy: "created",
        descending: true
      },
      headers: [
        { text: "Customer", value: "user.name" },
        { text: "Activity", value: "activity.title" },
        { text: "Type", value: "activity.type" },
        { text: "Price", value: "activity.price" },
        { text: "Reserved date", value: "created" }
      ]
    },
    reservations: []
  }),
  created() {
    this.loadReservations();
  },
  methods: {
    loadReservations() {
      this.table.loading = true;

      reservations
        .get()
        .then(querySnapshot => {
          this.table.loading = false;

          const documents = querySnapshot.docs;

          let reservations = this.$lodash.map(documents, doc => {
            let data = doc.data();
            let created = data.created ? data.created.toDate() : 0;

            delete data["created"];

            return { ...doc.data(), id: doc.id, created };
          });

          this.reservations = reservations;
        })
        .catch(error => {
          this.table.loading = false;

          this.$emit("show-snackbar", error.message);
        });
    },
    customFilter(items, search, filter) {
      search = search.toString().toLowerCase();
      return items.filter(i =>
        Object.keys(i).some(j => {
          if (j === "created")
            return filter(
              this.$moment(i[j]).format("DD/MM/YYYY hh:mm a"),
              search
            );
          return filter(i[j], search);
        })
      );
    }
  }
};
</script>